@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;400&family=Playfair+Display:wght@400;500&family=Tektur:wght@400;500&display=swap');

*, *::after, *::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
}

:root{
    --body-font: 'Dosis', sans-serif;
    --header-font: 'Tektur', cursive;
    --title: 'Playfair Display', serif;
    --body-color: #000000;
    --body-gradiet: linear-gradient(to right, #212123, #252527, #28292a, #2c2d2e, #303132, #333435, #363739, #393a3c, #3d3d40, #404043, #444447, #48474a);;
    --banner-color: #B54936;
    --header-color: #fcf7ff;
    --button-color: #fcf7ff;
    --text-color: #d3fbd8;
    --card-odd: #1CB8F5;
    --card-even: #FFA06E;
    --info: #FFC300;
}

body{
    /* background-color: var(--body-color); */
    background-image: var(--body-gradiet);
    overflow-x: hidden;
    font-family: var(--body-font);
}

/* ----------------------------------- */
/* ---------- FLEX BOX --------------- */
.flex-wrapper{
    display: flex;
    gap: var(--gap, 1rem);
    align-items: center;
}

.col-flex{
    flex-direction: column;
}

.flex-center{
    justify-content: center;
}


/* ------------------------------------------- */
/* ---------- GRID BOX --------------- */
.grid-wrapper{
    display: grid;
    gap: var(--gaps, 1rem);
    /* align-items: center; */
    place-content: center;
}

.grid-auto{
    grid-template-columns: repeat(1, 1fr);
}

@media (min-width: 500px){
    .grid-auto{
        grid-template-columns: repeat(2, auto);
    }
}

@media (min-width: 850px){
    .grid-auto{
        grid-template-columns: repeat(3, auto);
        --gaps: 2rem;
    }
}

/* ------------------------------------------- */
/* --------- GENERAL FORMATS ---------------- */

h1,h2,h3,h4{
    text-transform: uppercase;
}

.btn {
    min-inline-size: 4rem;
    block-size: 2rem;
    background: none;
    border: 1px solid var(--banner-color);
    border-radius: 5px;
    color: var(--button-color);
    font-family: var(--header-font);
    text-align: center;
    cursor: pointer;
    /* transition: all 0.4s ease-in-out; */
}

.btn:hover{
    box-shadow: 0 0 6px var(--banner-color), inset 0 0 4px var(--banner-color);
}

#header{
    inline-size: 100%;
    block-size: 6.25rem;
    background-color: var(--banner-color);
    padding-inline: 2rem;
    padding-block: min(5vh, 20px);
    position: relative;
}

h1{
    font-family: var(--header-font);
    color: var(--header-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: drop-shadow(0 0 3px #333);
}

h2{
    font-family: var(--title);
    color: var(--text-color);
    text-align: center;
}


form {
    color: var(--header-color);
    line-height: 2em;
    /* background-color: #74aad6; */
}

form label {
    font-size: 1rem;
}

form input{
    margin: 1em 2em;
    padding: 0.25em;
    background: none;
    border: none;
    border-bottom: 1px solid var(--header-color);
    color: var(--text-color)
}

form input:focus{
    background: none;
    border: none;
    border-bottom: 1px solid var(--text-color);
    outline: none;
}

select{
    font-size: 0.75em;
    color: #fcf7ff;
    border-radius: 0;
    border: 1px solid var(--banner-color);
    cursor: pointer;
    padding-inline-start: 3px;
    padding-inline-end: 2px;
    margin-inline-start: 1em;
    /* box-shadow: none;
    outline: none; */
    background: transparent;
}

option{
    color: #404043;
}

.form-handle {
    /* outline: 1px solid var(--banner-color);
    outline-offset: 8px; */
    border: 1px solid var(--banner-color);
    padding: 1em;
    border-radius: 5px;
    margin-block: 2em;
    box-shadow: 0 0 5px var(--banner-color);
}

small {
    color: var(--header-color);
    margin: 5px;
    inline-size: 60%;
    font-size: 0.75em;
}

@media (max-width: 400px) {
    form input{
        margin: 0.25em;
        padding: initial;
    }

    .btn {
        min-block-size: 1.75em;
    }
}

.success, .info, .debug{
    background-color: #a2f5c7;
    padding-inline: 1em;
}

.error, .warning {
    background-color: #FF9E86;
    padding-inline: 1em;
}


dialog{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-block-size: 5rem;
    inline-size: 25rem;
    padding-inline: 2rem;
    background-color: var(--body-color);
    border: 1px solid var(--banner-color);
    border-radius: 5px;
    color: var(--header-color) 
}

dialog::backdrop{
    background-color: rgba(0,0,0,0.6);
    backdrop-filter: blur(5px);
}

dialog > p{
    margin: 10px auto;
}

dialog button {
    margin-block-end: 5px;
}

/* ----------------------------------- */
/* ------------ HEADER -------------- */
#page-icon{
    inline-size: 3.75rem;
    block-size: 3.75rem;
    border-radius: 50%;
    border: 2px solid var(--body-color);
    /* filter: drop-shadow(0 0 3px var(--banner-color)); */
    box-shadow: 0 0 5px white, inset 0 0 3px white;
    float: left;
    position: relative;
    animation: glow 5s linear alternate infinite;
    /* text-align: center; */
}

@keyframes glow{
    0%{
        border-color: var(--body-color);
        box-shadow: 0 0 5px var(--body-color), inset 0 0 3px var(--body-color);
    }
    20%{
        border-color: #6a548d;
        box-shadow: 0 0 5px #6a548d, inset 0 0 3px #6a548d;
    }
    40%{
        border-color: #74aad6;
        box-shadow: 0 0 5px #74aad6, inset 0 0 3px #74aad6;
    }
    60%{
        border-color: #90e9b5;
        box-shadow: 0 0 5px #90e9b5, inset 0 0 3px #90e9b5;
    }
    80%{
        border-color: #dbf39b;
        box-shadow: 0 0 5px #dbf39b, inset 0 0 3px #dbf39b;
    }
    100%{
        border-color: #f0cb86;
        box-shadow: 0 0 5px #f0cb86, inset 0 0 3px #f0cb86;
    }
}

#page-icon > img{
    inline-size: 90%;
    block-size: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.nav{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(-10%, -50%);
    list-style: none;
    --gap: 1em;
    /* background-color: #6a548d; */
}

/* .nav > li{
    transition: all 0.5s ease-out;
}

.nav > li:hover{
    color: var(--header-color);
} */


.nav > li a{
    text-decoration: none;
    letter-spacing: .15em;
    font-family: var(--title);
    color: var(--text-color);
    transition: all 0.25s ease-out;
}

.nav > li a:hover{
    color: var(--header-color);
    border-bottom: 1px solid var(--header-color);
    filter: drop-shadow(0 0 1px var(--header-color));
}

#nav-toggle{
    width: 2rem;
    aspect-ratio: 1;
    position: absolute;
    top: 2rem;
    right: 2rem;
    background-color: #90e9b5;
    z-index: 9999;
    display: none;
}

@media (max-width: 800px){
    .nav{
        position: absolute;
        left: 50%;
        top: 75%;
        transform: translateX(-35%);

    }
}

@media (max-width: 35rem){
    .nav{
        position: fixed;
        inset: 0 0 0 100%;
        transform: none;
        flex-direction: column;
        padding-block: min(20vh, 10rem);
        padding-inline-start: 2rem;
        align-items: flex-start;
        background-color: rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(5px);
        z-index: 99;
        transition: all 0.5s ease-in-out;
    }

    #nav-toggle{
        display: block;
    }

    .toggle{
        inset: 0 0 0 30%;
    }
}

.user_name_container{
    inline-size: 100%;
    /* block-size: 5rem; */
    color: var(--header-color);
    text-align: center;
    padding-block: 0.5em;
    /* background-color: pink; */
}

/* ----------------------------------- */
/* ---------- INDEX PAGE ------------ */

#index-container{
    inline-size: 100%;
    padding-block: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    /* background-color: #6a548d; */
}

#index-container>div{
    margin-block-start: 2rem;
    --gap: 2rem;
}
#index-container>div button{
    margin: auto;
    padding: 0.5rem;
    text-transform: uppercase;
}


/* --------------------------------- */
/* ---------- DEX PAGE ------------ */
#dex-header{
    margin-block: 2rem;
}

.cards{
    inline-size: 17.5rem;
    min-block-size: 22.5rem;
    /* clip-path: polygon(50% 0%, 100% 25%, 100% 100%, 0 100%, 0 25%); */
    margin: auto;
    margin-block-end: 1rem;
    border: 1px solid var(--card-odd);
    border-radius: 1em;
    position: relative;
    overflow-y: hidden;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
}

.cards:nth-child(even){
    border-color: var(--card-even);
}

.cards img{
    inline-size: 50%;
    aspect-ratio: 1;
    /* block-size: 60%; */
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    filter: drop-shadow(0 0 5px var(--card-odd));
    animation: poke-glow 2s alternate infinite;
    /* background-color: #1CB8F5; */
}

@keyframes poke-glow{
    0%{filter: drop-shadow(0 0 5px var(--card-odd))}

    /* 20%{filter: drop-shadow(0 0 6px var(--card-even))} */

    /* 40%{filter: drop-shadow(0 0 7px var(--card-even))} */

    /* 60%{filter: drop-shadow(0 0 8px var(--card-even))} */

    /* 80%{filter: drop-shadow(0 0 9px var(--card-odd))} */

    100%{filter: drop-shadow(0 0 5px var(--card-even))}
}

.name-tag{
    inline-size: 100%;
    block-size: 1.5em;
    margin-block: 0.5em;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    border: 1px solid var(--banner-color);
    box-shadow: 0 0 2px var(--banner-color);
    /* background-color: var(--banner-color); */
    gap: 0.5rem;
}

.name-tag span{
    font: var(--body-font);
    color: var(--text-color);
}

.info-holder{
    inline-size: 100%;
    line-height: 0.25em;
    font-size: 1em;
    position: absolute;
    left:0;
    bottom:1.5em;
    padding-inline-start: 0.5em;
    /* background-color: #6a548d; */
}

/* .info-holder>p span{
    inline-size: 100%;
    background-color: #6a548d;
} */

.info-holder>p{
    inline-size: 100%;
    --gap: 0.5em;
    /* background-color: #74aad6; */
}

.category{
    font-family: var(--title);
    color: var(--text-color);
}

.info-p{
    font-size: smaller;
    color: var(--info);
}


/* ------------------------------------------------- */
/* ---------- LOGIN/LOGOUT/SIGNUP PAGE ------------ */

.grid-log{
    grid-template-columns: repeat(1, 1fr);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1.5rem;
    border: 1px solid var(--banner-color);
    border-radius: 5px;
    box-shadow: 0 0 5px var(--banner-color);
    /* outline: 1px solid var(--banner-color);
    outline-offset: 5px; */
    /* min-inline-size: 40%;
    justify-items: center; */
    /* background-color: pink; */
}

.grid-log  p{
    color: var(--header-color);
}

/* .grid-log  form {
    color: var(--text-color);
    background-color: #74aad6;
} */

:is(.grid-log) input{
    margin: 1em 0;
}

.custom-btn {
    margin: 1em auto;
}

@media (max-width: 650px){
    .grid-log {inline-size: 90%;}
}


/* ------------------------------------------------------------ */
/* ------------------------Manage Page ------------------------*/


.btn-div {
    display: flex;
    justify-content: flex-end;
    padding-inline: 1em;
    /* background-color: #6a548d; */
}

/* .pokemon-form-btn{
    background-color: #90e9b5 !important;
} */

@media (max-width: 500px) {
    
    .pokemon-form label{
        font-size: 0.75em;
    }
}

.info-holder-manage{
    inline-size: 100%;
    line-height: 0.25em;
    font-size: 1em;
    position: absolute;
    left:0;
    bottom:25%;
    padding-inline-start: 0.5em;
    /* background-color: #6a548d; */
}

.info-holder-manage>p{
    inline-size: 100%;
    --gap: 0.5em;
    /* background-color: #74aad6; */
}

.p-edit-div {
    inline-size: 100%;
    position: absolute;
    left: 0;
    bottom: 1rem;
}


/* ------------------------ Enteries for the Add/Edit Page ------------------ */

.dex-edit-buttons {
    position: absolute;
    right: 0;
    bottom: 1rem;
    padding-inline-end: 0.35em;   
}

.btn-dex {
    min-inline-size: 2.5rem;
    aspect-ratio: 1;
    /* block-size: 2rem; */
    background: none;
    border: 1px solid var(--banner-color);
    border-radius: 50%;
    color: var(--button-color);
    font-family: var(--header-font);
    text-align: center;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.btn-dex:hover{
    box-shadow: 0 0 6px var(--banner-color), inset 0 0 4px var(--banner-color);
}

i {
    color: var(--header-color)
}

.user-shiny-delete-modal{
    text-align: center;
}