{% extends 'base.html' %}

{% block content %}

    <div class="flex-wrapper col-flex flex-center">

        <div class="form-handle">
            <form method="POST" class="shiny-add-form">
                {{shiny_form.as_p}}
                {% csrf_token %}
                <div class="btn-div">
                    <button class="btn pokemon-form-btn">Add</button>
                </div>
                <br>
            </form>
        </div>
    
    </div>
    
    {% if usershiny|length > 0 %}
    <div class="grid-wrapper grid-auto">
        {% for pokemon in usershiny %}
            <div class="cards flex-wrapper col-flex">
                <img src="{{ pokemon.pokemon.featured_image.url }}" alt="{{pokemon.pokemon.name}}" data-type="{{pokemon.pokemon.type_1}}">
                <div class="name-tag flex-wrapper flex-center">
                    <span>#{{pokemon.pokemon.dex_no}} :</span>
                    <span>{{pokemon.pokemon.name}}</span>
                </div>
                <div class="flex-wrapper info-holder col-flex">
                    <p class="flex-wrapper">
                        <span class="category">Nickname:</span><span class="info-p">{{pokemon.nick_name}}</span>
                    </p>
                    <p class="flex-wrapper">
                        <span class="category">Gender:</span><span class="info-p">{{pokemon.get_gender_display}}</span>
                    </p>
                    <p class="flex-wrapper">
                        <span class="category">Caught On:</span><span class="info-p">{{pokemon.caught_on}}</span>
                    </p>
                    <p class="flex-wrapper">
                        <span class="category">Pokeball used:</span><span class="info-p">{{pokemon.pokeball}}</span>
                    </p>
                    <p class="flex-wrapper">
                        <span class="category">Encounters:</span><span class="info-p">{{pokemon.encounters}}</span>
                    </p>
                    <p class="flex-wrapper">
                        <span class="category">Game:</span><span class="info-p">{{pokemon.game}}</span>
                    </p>
                    <p class="flex-wrapper">
                        <span class="category">Method:</span><span class="info-p">{{pokemon.method}}</span>
                    </p>
                </div>
                <div class="flex-wrapper col-flex dex-edit-buttons">
                    <a href="{% url 'editshiny' request.user pokemon.slug%}">
                        <button class="btn-dex" data-type="{{pokemon.slug}}"><i class="fas fa-pen-nib"></i></button>
                    </a>
                    <button class="btn-dex user-shiny-delete-modal-open" data-type="{{pokemon.slug}}" data-image="{{pokemon.pokemon.featured_image.url}}" data-user="{{user.username}}">
                        <i class="fas fa-trash" data-type="{{pokemon.slug}}" data-image="{{pokemon.pokemon.featured_image.url}}" data-user="{{user.username}}"></i>
                    </button>
                </div>
            </div>
        {% endfor %}
    </div>

    {% else %}
    <p>No record</p>
    {% endif %}

    <dialog class="user-shiny-delete-modal">
        <p>Are you sure you want to delete this data?</p>
        <img class="add-image">
        <div class="flex-wrapper flex-center">
            <form class="delete-slug" method="POST">
                {% csrf_token %}
                <button class="btn del-confirm" id="">Confirm</button>
            </form>
            <button class="user-shiny-delete-modal-close btn">Close</button>
        </div>
    </dialog>

{% endblock %}