{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
    <title>Shiny Pokedex</title>
</head>
<body>
    <header id="header">
        <div id="page-icon"><img src="{% static 'images/pokeball-icon-23.png' %}" alt="pokeball-icon"></div>
        <h1>Shiny Dex</h1>
        <button id="nav-toggle">
            <div class="burger-container">
                <div class="burger-lines"></div>
                <div class="burger-lines"></div>
                <div class="burger-lines"></div>
            </div>
        </button>
        <nav>
            <ul class="flex-wrapper nav">
                <li><a href="/">Home</a></li>
                {% if user.is_superuser %}
                <li><a href="{% url 'userdex' request.user %}">Dex</a></li>
                <li><a href="{% url 'addshiny' request.user %}">Add/Edit</a></li>
                <li><a href="{% url 'admin:index' %}">Admin</a></li>
                <li><a href="{% url 'manage' %}">Manage</a></li>
                <li><a href="{% url 'account_logout' %}">LogOut</a></li>
                {%  elif user.is_authenticated %}
                <li><a href="{% url 'userdex' request.user %}">Dex</a></li>
                <li><a href="{% url 'addshiny' request.user %}">Add/Edit</a></li>
                <li><a href="{% url 'profile' request.user %}">Profile</a></li>
                <li><a href="{% url 'account_logout' %}">LogOut</a></li>
                {% else %}
                <li><a href="{% url 'account_login' %}">Log In</a></li>
                <li><a href="{% url 'account_signup' %}">Sign Up</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

    
    {% if messages %}
        <div class="flex-wrapper flex-center" id="message" style="margin-block-start: 1em;">
            
            {% for message in messages %}
                <p class="{{message.tags}}">{{message}}</p>
            {% endfor %}
        
        </div>
    {% endif %}

    {% if user.is_authenticated %}

        <div class="user_name_container"><p>Welcome {{ user.get_username }}</p></div>

    {% endif %}

    {% block content %}
    
    {% endblock %}
    
    <!-- Fontawesome Link -->
    <script src="https://kit.fontawesome.com/829d0985e1.js" crossorigin="anonymous"></script>
    <!-- Local JS -->
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>