{% extends 'base.html' %}

{% block content %}

<div id ="index-container" class="flex-wrapper col-flex flex-center">
    <h2>Welcome to your personal Shiny Dex!</h2>
    {% if user.is_authenticated %}
        <div class="flex-wrapper flex-center">
            <a href="{% url 'userdex' request.user %}"><button class="btn">Dex</button></a>
            <a href="{% url 'addshiny' request.user %}"><button class="btn">Add/Edit</button></a>
            <button class="btn">Search</button>
        </div>
    {% endif %}
</div>

{% endblock %}