{% extends 'base.html' %}

{% block content %}


<div class="flex-wrapper col-flex flex-center">
    
    <!-- Game Form -->
    <div class="form-handle" >
        <form method="POST" action="{% url 'addgame' %}">
            {{gameform}}
            {% csrf_token %}
            <button class="btn">Add</button>
            <br>
        </form>
        <small>
            Games available:
        </small>
        <select name="" id="">
            {% for game in games %}
                <option value="{{game}}">{{game}}</option>
            {% endfor %}
        </select>
    </div>
    
    <!-- Pokeball Form -->
    <div class="form-handle" >
        <form method="POST" action="{% url 'addball' %}">
            {{ballform}}
            {% csrf_token %}
            <button class="btn">Add</button>
            <br>
        </form>
        <small>
            Balls available:
        </small>
        <select name="" id="">
            {% for ball in balls %}
                <option value="{{ball}}">{{ball}}</option>
            {% endfor %}
        </select>
    </div>
    
    <!-- Pokemon Form -->
    <div class="form-handle">
        <form method="POST" enctype="multipart/form-data" class="pokemon-form">
            {{pokemonform.as_p}}
            {% csrf_token %}
            <div class="btn-div">
                <button class="btn pokemon-form-btn">Add</button>
            </div>
            <br>
        </form>
    </div>

    <!-- List of Pokemon in database -->
    <div class="grid-wrapper grid-auto">
        {% for pokemon in pokemons %}
            <div class="cards flex-wrapper col-felx">
                <img src="{{pokemon.featured_image.url}}" alt="{{pokemon.name}}" data-type="{{pokemon.type_1}}">
                <div class="name-tag flex-wrapper flex-center">
                    <span>#{{pokemon.dex_no}} :</span>
                    <span>{{pokemon.name}}</span>
                </div>
                <div class="flex-wrapper info-holder-manage col-flex">
                    <p class="flex-wrapper">
                        <span class="category">Type 1:</span><span class="info">{{pokemon.type_1}}</span>
                    </p>
                    <p class="flex-wrapper">
                        <span class="category">Type 2</span><span class="info">{{pokemon.type_2}}</span>
                    </p>
                    <p class="flex-wrapper">
                        <span class="category">Gen:</span><span class="info">{{pokemon.gen}}</span>
                    </p>
                </div>
                <div class="flex-wrapper flex-center p-edit-div">
                        <a href="{% url 'managepokemonedit' pokemon.slug %}">
                            <button class="btn">Edit</button>
                        </a>
                        <button class="btn modal1-open" data-type="{{pokemon.slug}}">Delete</button>
                </div>
            </div>
        {% endfor %}
    </div>

</div>


    <dialog class="modal1">
        <p>Are you sure you want to delete this data?</p>
        <div class="flex-wrapper flex-center">
            <form class="add-slug" enctype="multipart/form-data" method="dialog">
                <button class="btn del-confirm" id="">Confirm</button>
            </form>
            {% csrf_token %}
            <button class="modal1-close btn">Close</button>
        </div>
    </dialog>


{% endblock %}