{% extends 'base.html' %}

{% block content %}

<div class="flex-wrapper col-flex flex-center">
    <div class="form-handle">
        <img src="{{pokemon.featured_image.url}}" 
        alt="{{pokemon.name}}" data-type="{{pokemon.type_1}}"
        style="margin-block-start: 5px;"
        >
    </div>
    <div class="form-handle">
        <form method="POST" action="{% url 'managepokemonedit' pokemon.slug %}" enctype="multipart/form-data" class="pokemon-form">
            {{pokemon_form.as_p}}
            {% csrf_token %}
            <div class="btn-div">
                <button class="btn pokemon-form-btn">Save</button>
            </div>
            <br>
        </form>
    </div>
</div>

{% endblock %}