{% extends 'base.html' %}

{% block content %}

    <div class="grid-wrapper grid-log">
        <h2>Profile</h2>
        <p class="flex-wrapper">
            <span class="category">Username:</span><span class="info-p">{{user.username}}</span>
        </p>
        <p class="flex-wrapper">
            <span class="category">Provided Email:</span><span class="info-p">{{user.email}}</span>
        </p>
        {% if user_shiny.count %}
            <p class="flex-wrapper">
                <span class="category">Shiny Count:</span><span class="info-p">{{user_shiny.count}}/1015</span>
            </p>
        {% else %}
            <p class="flex-wrapper">
                <span class="category">Shiny Count:</span><span class="info-p">{{user_shiny}}</span>
            </p>
        {% endif %}
        <a href="{% url 'account_change_password' %}"><button class="btn btn-padding">Change Password</button></a>
        <a href="{% url 'account_email' %}"><button class="btn btn-padding">Change Email</button></a>
    </div>
    

{% endblock %}