{% extends 'base.html' %}

{% block content %}

    <h2 id="dex-header">Your Dex</h2>
    <div class="bar-container">
        <div id="bar"></div>
    </div>
    <div id="selector" class="grid-wrapper grid-auto" data-count="{{pokemon_list.count}}" loading>
        {% for mon in pokemon_list %}

        <div class="perspective-div">

            <div class="card-holder">
                
                <div class="cards-front flex-wrapper col-flex flex-center">
                    <img src="{{mon.pokemon.featured_image.url}}" alt="{{mon.pokemon.name}}" data-type="{{mon.pokemon.type_1}}" loading="lazy">
                    <h2>{{mon.pokemon.name}}</h2>
                </div>


                <div class="cards-back">

                    <p>#{{mon.pokemon.dex_no}} {{mon.pokemon.name}}</p>
                    <p>Nick Name: {{mon.nick_name}}</p>
                    <p>Gneder: {{mon.get_gender_display}}</p>
                    <p>Caught On: {{mon.caught_on}}</p>
                    <p>Pokeball: {{mon.pokeball.pokeball_type}}</p>
                    <p>Encounters: {{mon.encounters}}</p>
                    <p>Game: {{mon.game.game_version}}</p>
                    <p>Method: {{mon.method}}</p>

                </div>

            </div>

        </div>
        
        
        {%endfor%}
    </div>
    

{% endblock %}