{% extends 'base.html' %}

{% block content %}

    <h2 id="dex-header">Shiny Dex</h2>
    <div class="grid-wrapper grid-auto">
        {% for mon in pokemon_list %}
        
            <div class="cards flex-wrapper col-felx">
                <img src="{{mon.pokemon.featured_image.url}}" alt="#" data-type="#">
                <div class="name-tag flex-wrapper flex-center">
                    <span>#{{mon.pokemon.dex_no}} :</span>
                    <span>{{mon.pokemon.name}}</span>
                </div>
                <div class="flex-wrapper info-holder col-flex">
                    <p class="flex-wrapper">
                        <span class="category">Nickname:</span><span class="info-p">{{mon.nick_name}}</span>
                    </p>
                    <p class="flex-wrapper">
                        <span class="category">Gender:</span><span class="info-p">{{mon.get_gender_display}}</span>
                    </p>
                    <p class="flex-wrapper">
                        <span class="category">Caught On:</span><span class="info-p">{{mon.caught_on}}</span>
                    </p>
                    <p class="flex-wrapper">
                        <span class="category">Pokeball used:</span><span class="info-p">{{mon.pokeball.pokeball_type}}</span>
                    </p>
                    <p class="flex-wrapper">
                        <span class="category">Encounters:</span><span class="info-p">{{mon.encounters}}</span>
                    </p>
                    <p class="flex-wrapper">
                        <span class="category">Game:</span><span class="info-p">{{mon.game.game_version}}</span>
                    </p>
                    <p class="flex-wrapper">
                        <span class="category">Method:</span><span class="info-p">{{mon.method}}</span>
                    </p>
                </div>
            </div>
        
        {%endfor%}
    </div>


{% endblock %}